.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



section {
  color: #fff;
  background-color: #ffffffb0;
  height: 100vh;  
}
.navBg {
  background-color: #3e5491;
  box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5);
}

.navbar-img {
  max-height: 50px;
}

.bg-table{
  background-color: #3c6ae7;
}

.info-paciente{
  background-color: #3e5491;
  border-radius: 15px;
  min-height: 500px;
  overflow: hidden;
}

.text-paciente{
  padding-top: 100px;
}

.profile-pic{
  max-width: 200px;
  margin-top: 20px;
}

.diags-container{
  max-width: 1000px;
  
  border-radius: 500px;
}

.bg-diags{
  background-color: #fff;
}

.bg-hdiags{
  background-color: #06226d;
}

.nd-button{
  margin-bottom: 10px;
  float: right;
  background-color: #06226d;
}

.diags-table{
  max-width: 1000px;
  align-items: center;
}

.search-bar{
  max-width: 35%;
  margin-left: 1%;
}

.main {
  width: 50%;
  margin: 50px auto;
}

.form-group .form-control {
  padding-left: 2.375rem;
}

.form-group .form-control-icon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.comment-form-textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(76, 96, 139);
}

.comment-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(59, 130, 246);
  border-radius: 8px;
  color: white;
  border-color: #ffffff;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-home{
  filter: blur(3px);
  width: 100%;
  aspect-ratio: 3 / 1;
}

.container-home{
  min-width: 100%;
}

.title-home{
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color:#000000;
  -webkit-text-stroke-width: 1.50px; 
  font-family: fantasy;
}

.fomr-add{
  align-items: center;
}

.add-paciente{
  background-color: #3c6ae7;
  border-radius: 15px;
  min-height: 500px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.audun_warn {
  color: #ffffff;
  background-color: #FF8080;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius:.5em;
  border: 1px solid;
  margin: 5px 0px;
  padding:12px;
  width: 400px;
}

.fa-exclamation-triangle:before{
  margin-right:10px;
}

.success-added {
  color: #ffffff;
  background-color: #50ba30;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius:.5em;
  border: 1px solid;
  margin: 5px 0px;
  padding:12px;
  width: 400px;
}

.unsuccess-added {
  color: #ffffff;
  background-color: #eb3030;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius:.5em;
  border: 1px solid;
  margin: 5px 0px;
  padding:12px;
  width: 400px;
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

.label-add{
  width: 400px;
}

.confirm-delete{
  background-color: #eb3030;
}



.trapezoid{
  width: 90px;
  height: 30px;
  background: var(--lado-color, white);
  transform: perspective(3.5px) rotateX(3.5deg);
  rotate: 180deg;
  margin: 50px;
}

.odontograma{
  position: relative;
}

.odontograma > * {
  position: absolute;
}

.square {
  height: 70px;
  width: 70px;
  background-color: var(--lado-color, white);
}

.rectangle {
  height: 20px;
  width: 150px;
  background-color: blue;
}

.asd{
  position:"relative";
  top:"-440px";
  right:"55px"
}

.circle{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(0, 4, 255);
  background-color: rgba(0, 0, 0, 0);
  pointer-events:none;
}

.drop{
  position: absolute;
  margin-top: 30%;
}

.gridO{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  padding: 10px;
  column-gap: 0px;
}

.gridO2{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 0px;
  column-gap: 0px;
}

.saveOdont {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 2%;
  margin-right: 2%;
}

.tipoPaciente{
  margin-top: 3%;
  display: flex;
  justify-content: flex-start;
}

.checkAdulto{
  margin-left: -80%;
}



.ladoIzquierdo{
  display:-webkit-flex;
    display:flex;
    list-style-type:none;
    padding:0;
    justify-content:flex-end;
}

.ladoDerecho{
  text-align: right;
  padding-right: 3%;
  padding-top: 1%;
}

.textoIzquierda{
  margin-right: auto;
  padding-left: 3%;
}

.textoDerecha{
  margin-left: auto;
  padding-right: 3%;
}

.arrow-button {
  
  display: flex;
  color: #bde1f1;
  background-color: #2f71f3;
  padding: 10px 16px;
  border-radius: 20px;
  transition: all .3s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
}

.arrow-button > .arrow {
  width: 6px;
  height: 6px;
  border-right: 2px solid #bde1f1;
  border-bottom: 2px solid #bde1f1;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 6px;
  transition: all .3s ease;
}

.arrow-button > .arrow::before {
  display: block;
  background-color: currentColor;
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all .3s ease;
  content: "";
  right: 0;
}

.arrow-button:hover > .arrow {
  transform: rotate(-45deg) translate(4px, 4px);
  border-color: text-hover-color;
}

.arrow-button:hover > .arrow::before {
  opacity: 1;
  width: 8px;
}

.arrow-button:hover {
  background-color: #251ed4;
  color: #fff;
}

.margintop{
  margin-top: 1%;
  margin-right: 2%;
  margin-left: 2%;
}

.selectOdont{
  max-width: 20%;
  min-width: 20%;
  margin-top: 1%;
  margin-left: 40%;
}

.alertOdont{
 
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 2%;
  margin-right: 2%;

}

.numObs{
  text-align: left;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 10%;
  margin-bottom: 3%;
}

.textareaObs {
  width: 90%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.inlineObs{
  display:-webkit-flex;
  display:flex;
  list-style-type:none;
  padding:0;
  justify-content:flex-end;
}

.labelCheck{
  float:left;
}

.historia{
  background-color: #3e5491;
  border-radius: 15px;
  min-height: 500px;
  width: 800px;
}

.checkRight{
  margin-left: 50%;
}

.fileImage{
  margin-left:25%;
  margin-top: 7%;
}

.fileList{
  display: flex;
  align-items: center;
}

.fileCard{
  display: inline-block;
  cursor: pointer;
  padding: 0.5%;
}

.checkMail{
  margin-right: 60%;
}


.sigCanvas{
  border: 1px solid black;
  width: 100%;
  background-color: white;
}

.firma{
  max-width: 50%;
  min-height: 100%;
}

.homeStyle{
  margin-left: 15%;
  margin-right: 15%;
  min-height: 50%;
}